<ion-header>
    <ion-toolbar color="primary">
        <!--
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button (click)="dismiss()">
              <ion-icon name="arrow-round-back" slot="icon-only" style="color:var(--ion-color-primary-contrast)"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        -->
        <ion-title>
            {{'new_offer'|translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="nueva" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>{{'choose_one'|translate}}:</ion-label>
            <ion-select formControlName="tipo">
                <ion-select-option [value]="individual">{{'individual'|translate}}</ion-select-option>
                <ion-select-option [value]="dobles">{{'double'|translate}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'number_of_places'|translate}}:</ion-label>
            <ion-input type="number" formControlName="plazas"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'date'|translate}}:</ion-label>
            <ion-input type="date" formControlName="fecha"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'place'|translate}}:</ion-label>
            <ion-input type="text" formControlName="lugar"></ion-input>
        </ion-item>
        <ion-item float-right="">
            <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!nueva.valid">
                {{'acept'|translate}}
            </ion-button>
        </ion-item>
        <ion-item float-right="">
            <ion-button shape="round" color="primary" fill="outline" (click)="dismiss()">
                {{'cancel'|translate}}
            </ion-button>
        </ion-item>

    </form>
</ion-content>
