<ion-header no-border color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      ShareAce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1 align="center">ShareAce</h1>

  <form [formGroup]="inicioForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'password'|translate}}: </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item float-right="">
      <ion-button shape="round" color="primary" fill="outline" type="submit">
        {{'log_in'|translate}}
      </ion-button>
    </ion-item>
  </form>

  <ion-item>{{'if_no'|translate}}, <a href="/registro">{{'click_here'|translate}}</a></ion-item>

</ion-content>
