<ion-header no-border style="border-bottom: green 1px solid">
    <ion-toolbar >
        <ion-title>
            <ion-img src="../../../assets/login.jpg"></ion-img>
            <h1 align="center">ShareAce</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label>Email:</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'password'|translate}}:</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item float-right="">
            <ion-button shape="round" color="primary" fill="outline" type="submit">
                {{'sign_up'|translate}}
            </ion-button>
        </ion-item>
    </form>

    <ion-item><a href="/inicio-sesion">{{'return'|translate}}</a></ion-item>



</ion-content>
