<ion-header no-border color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>
            ShareAce
        </ion-title>
    </ion-toolbar>

    <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)"
                 style="background-color:var(--ion-color-primary-tint)"
                 color="black">
        <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
            <ion-icon name="mail" style="margin-right:1px;zoom:0.8"></ion-icon>
            <ion-label>{{'offers'|translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
            <ion-icon name="contacts" style="margin-right:1px;zoom:0.8"></ion-icon>
            <ion-label>{{'accepted'|translate}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px" color="primary"></div>

</ion-header>

<ion-content>

    <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
                (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()"
                #SwipedTabsSlider
                (ionSlideDrag)="animateIndicator($event)">
        <ion-slide>
            <ion-content class="fixed-scroll">

                <ion-refresher (ionRefresh)="doRefresh($event)">
                    <ion-refresher-content
                            pullingIcon="arrow-dropdown"
                            pullingText="Arrastra para refrescar"
                            refreshingSpinner="crescent"
                            refreshingText="Cargando...">
                    </ion-refresher-content>
                </ion-refresher>
                <ion-list #dynamicList id="dynamicList">
                    <ion-item *ngFor="let item of listadoPanel;let i = index">
                        <ion-label><h2>{{item.tipo|translate}}</h2>
                            <p>{{'there_is'|translate}} {{item.plazas}} {{'available_seats'|translate}}.</p>
                            <p>{{ 'date' | translate}}:  {{item.fecha}}</p>
                            <p>{{'offered_by'|translate}}: {{item.ofertante}}</p>
                            <p>{{'place'|translate}}: {{item.lugar}}</p>
                        </ion-label>
                        <ion-icon (click)="aceptarOferta(item)" name="checkmark-circle-outline"
                                  style="font-size:30px"></ion-icon>
                    </ion-item>
                </ion-list>

            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="fixed-scroll">

                <ion-content class="fixed-scroll">

                    <ion-refresher (ionRefresh)="doRefresh($event)">
                        <ion-refresher-content
                                pullingIcon="arrow-dropdown"
                                pullingText="Arrastra para refrescar"
                                refreshingSpinner="crescent"
                                refreshingText="Cargando...">
                        </ion-refresher-content>
                    </ion-refresher>
                    <ion-list #dynamicList id="dynamicList2">
                        <ion-item *ngFor="let item of listadoPanel2;let i = index">
                            <ion-label><h2>{{item.tipo|translate}}</h2>
                                <p>{{'there_is'|translate}} {{item.plazas}} {{'available_seats'|translate}}.</p>
                                <p>{{ 'date' | translate}}: {{item.fecha}}</p>
                                <p>{{'offered_by'|translate}}: {{item.ofertante}}</p>
                                <p>{{'place'|translate}}: {{item.lugar}}</p></ion-label>
                        </ion-item>
                    </ion-list>

                </ion-content>

            </ion-content>
        </ion-slide>
    </ion-slides>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="nuevaOfertaModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
