<ion-header no-border color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>
            ShareAce
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="">
    <ion-searchbar #searchBar id="searchBar" showCancelButton
                   cancelButtonText="Cancelar" placeholder="{{'search'|translate}}"
                   (ionInput)="getFilteredItem($event)" (ionClear)="cleared()"
                   (ionCancel)="onCancel()"></ion-searchbar>
    <ion-card padding="" *ngFor="let item of lugaresPanel;let i = index">
        <ion-title>{{item.localizacion}}</ion-title>
        <ion-img  style="margin:auto" [src]="item.imagen"></ion-img>
        <ion-buttons float-right padding-bottom="5px" padding-end="5px">
            <ion-button (click)="mostrarMapa(item.mapax, item.mapay, item.localizacion)">
                <ion-icon name="locate" style="font-size:30px"></ion-icon>
            </ion-button>
            <ion-button (click)="hacerLlamada(item.telefono)">
                <ion-icon name="call" style="font-size:30px"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-card>
</ion-content>
