<ion-header no-border color="primary">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>
            ShareAce
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="">
    <h2>{{'acerca_de'|translate}}</h2>
    <p>{{'info'|translate}}</p>
    <h2>{{'contacto'|translate}}</h2>
    <p>Antonio Miguel Cobos Fernández <br>
        aantcobos@iesfranciscodelosrios.es
    <h2>{{'version'|translate}}</h2>
    <p>0.1</p>
</ion-content>